/** 优设标题圆*/
@font-face {
  font-family: "YouSheTitleRound";
  src: url("@/assets/fonts/YouSheTitleRound.otf") format("woff2");
  src: url("@/assets/fonts/YouSheTitleRound.otf") format("woff");
  font-weight: normal;
  font-style: normal;
}
/** 庞门正道标题 */
@font-face {
  font-family: "PangMenZhengDaoBiaoTiTi";
  src: url("@/assets/fonts/PangMenZhengDaoBiaoTiTi.ttf") format("woff2");
  src: url("@/assets/fonts/PangMenZhengDaoBiaoTiTi.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
/** 思源黑 */
@font-face {
  font-family: "SourceHanSansCN-VF-2";
  src: url("@/assets/fonts/SourceHanSansCN-VF-2.otf") format("woff2");
  src: url("@/assets/fonts/SourceHanSansCN-VF-2.otf") format("woff");
}